<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Assignment for Quadiro Technologies - Cars</title>
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
  <div class="background">
    <div class="form-container">
      <h1 class="form-title">Cars List</h1>
      <table class="car-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manufacturing Year</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.ManufacturingYear}}</td>
            <td>{{.Price}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
